img {
    display: inline-block;
    vertical-align: -0.3em;
}

.navbar-brand {
    padding-left: 18px !important;
}

.newsroom {
    color: #bd081c;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5em;
}

.nav-link {
    color: #8e8e8e !important;
    text-decoration: none !important;
    font-family: inherit;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.nav-link:hover {
    color: #555555 !important;
    text-decoration: underline !important;
}

.navbar-expand-lg .navbar-collapse {
    padding-left: 60px !important;
}

.nav-item {
    margin-right: 20px !important;
}

nav {
    top: 0;
    background-color: white;
    color: rgba(142, 142, 142, 0.8);
    box-shadow: 0 1px 0 0 #efefef;
}

.rss-subscribe {
    background: #555555;
    font-size: 13px;
    padding: 2px;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}