<div class="plr-32">
    <div class="row m-t-100 m-b-40">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1 class="text-capitalize large-headline">News</h1>
        </div>
    </div>

    <div class="row m-t-100 m-b-40">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h1 class="text-capitalize medium-headline">New ways to<br>shop with<br>Pinterest</h1>
            <p class="m-0 attribution-date">October 16, 2018</p>
            <span><a class="category-list" href="#!">News</a>,&nbsp;<a class="category-list" href="#!">Product</a></span>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="/src/assets/img/mobile.png" alt="Pinterest Mobile App" class="max-w-full">
            <div class="m-b-32">
              <p class="m-0 text-justify">
                Today we’re making hundreds of millions of Pins shoppable with up-to-date pricing and stock information, and launching new shopping recommendations alongside Home and Style Pins. 
              </p>
            </div>
            <a href="#!" class="button" hreflang="en">Read more</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">1</div>
    </div>
</div>